.header-nav {
    display: flex;
    align-items: center;

    @include mediaTablet {
        display: flex;
        justify-content: space-around;
    }
}

.nav-list-head {
    display: flex;
    column-gap: 30px;

    @include mediaLaptop {
        font-size: 16px;
    }

    @include mediaTablet {
        display: none;
    }    
}

.nav-list {
    display: flex;
    column-gap: 30px;

    @include mediaLaptop {
        font-size: 16px;
    }

    @include mediaTablet {
        display: flex;
        flex-direction: column;
        text-align: center;
        row-gap: 20px;
    }
}

.logo {
    padding: 0 50px;
}

.lang {
    font-family: $accent-font;
    font-size: 16px;
    font-weight: 500;
    margin-left: 50px;
    margin-right: 40px;
}

.basket {
    padding-left: 50px;
}