.contacts {
    display: flex;
    justify-content: center;
    padding-bottom: 140px;
}

.contact-block {
    display: flex;
    padding-top: 60px;
    max-width: 1110px;
}

.contact-title {
    padding-top: 140px;

    font-family: $accent-font;
    font-size: 64px;
    font-weight: 700;

    text-align: center;
}

.contact-block-content {
    display: flex;
    justify-content: start;
    gap: 300px;

    width: 1110px;
}

.contact {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
}

.title4 {
    font-size: 24px;
    font-weight: 700;
}
.contact-add {
    color: #FFF;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
    text-transform: none;
    padding-top: 14px;
}

.tel {
    line-height: 150%; 
    text-transform: none;
    padding-top: 20px;
}
.tel-ps {
    color: #BEBEBE;
    font-style: italic;
    line-height: 150%;
    font-size: 16px;
    text-transform: none;
}

.mailto {
    padding-top: 20px;
    line-height: 150%; 
    text-transform: none;
}    