.card-block{
    display: flex;
    justify-content: center;
    flex-direction: column;

    padding-bottom: 140px;
}

.title {
    font-family: $accent-font;
    font-size: 64px;
    padding-top: 140px;
    padding-bottom: 60px;

    text-align: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 395px));
    gap: 20px;
    justify-content: center;
}

.card {
    max-width: 395px;
    border: 1px solid #C4C4C4;
    display: flex;
    justify-content: center;
}

.card-content {
    max-width: 360px;
    width: 100%;
    max-height: 552px;

    padding: 34px 12px;
}

.card-title {
    font-size: 16px;
    font-weight: 700;
}

.alc, .og, .ibu {
    color: $secondary;
    text-align: center;
    font-size: 14px;
}

.type {
    color: $secondary;
    text-align: start;
    font-size: 14px;
    text-transform: none;

    padding-top: 14px;
    padding-bottom: 5px;

    position: relative;

    &::after {
        content: "0.5 L";

        position: absolute;
        left: 240px;

        color: $white;
        text-align: center;
        font-weight: 500;
    }
}

.strctr{
    display: flex;
    gap: 14px;
}

.price-basket {
    display: flex;
    column-gap: 110px;

    padding-top: 14px;
}