//colors
$black: #000;
$white: #FFF;
$secondary: #C1E1FF;
$accent: #C4C4C4;

//fonts
$accent-font: 'Bebas Neue', sans-serif;
$main-font: 'Gilroy', sans-serif;
$nav-font: 'Gilroy-Semibold', sans-serif;

//Media
$laptop: 1520px;
$tablet: 999px;